@import '../css/bootstrap.min.css';
@import '../css/jquery-ui.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@font-face {
    font-family: "TTNorms-Medium"; 
    src: url("../fonts/TTNorms-Medium.eot"); 
    src: url("../fonts/TTNorms-Medium.eot#iefix") format("embedded-opentype"),
    url("../fonts/TTNorms-Medium.woff") format("woff"), 
    url("../fonts/TTNorms-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'TTNorms-Medium', sans-serif;
    font-weight: 500;
}
button {
    outline: none!important;
    background-color: transparent;
    border: 0;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    overflow-x: hidden;
}

/* HEADER */
.header {
    position: relative;
    top: 0;
    left: 0;
    padding: 25px 0;
}
.logo img {
    height: 30px;
    width: 124px;
}
.nav {
    justify-content: flex-end;
}
nav {
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.header__menu_item a {
    color: #000000;
    text-decoration: none;
}
.header__menu_item a:hover {
    color: #CC9A52;
}
.card__info button,
.header__btn {
    color: #CC9A52;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding: 10px 12.5px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.card__info button:hover,
.header__btn:hover {
    background-color: #CC9A52;
    color: #fff;
}
.menu-btn {
    height: 24px;
    width: 24px;
    margin-left: 20px;
    cursor: pointer;
}
/* END:HEADER */

.main {
    
}

/* BANNER */
.banner {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 80px);
    background-image: url(../assets/banner-bg.jpg);
    background-position: center;
    background-size: cover;
}
.banner h1 {
    margin-bottom: 24px;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 50px;
}
.banner p {
    color: #333333;
}
.banner button {
    margin-top: 32px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #E6AE5C;
    color: #fff;
    border: 1px solid #E6AE5C;
}
.banner button:hover {
    background-color: #fff;
    color: #E6AE5C;
}
/* END:BANNER */

/* PLUS */
.plus {
    padding: 80px 0 100px 0;
}
.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20.5px;
    height: 320px;
    width: calc(25% - 20px);
    max-width: 280px;
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
.card img {
    height: 80px;
    width: auto;
    min-height: 80px;
    /* margin-bottom: 88px; */
}
.card h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}
.card p {
    color: #666666;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
/* END:PlUS */

/* RESEARCH */
.research {
    position: relative;
    height: 560px;
    min-height: 560px;
}
.research .container {
    position: relative;
    height: inherit;
}
.research .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1390px;
    border-radius: 8px;
    background-image: url(../assets/slider-bg.jpg);
}
.research__slider {
    position: absolute;
    display: flex;
    bottom: -40px;
    right: -40px;
    height: 321px;
    width: 581px;
    padding: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.research__slider b {
    color: #E6AE5C;
    font-weight: 500;
}
.research__slider_item {
    position: relative;
    height: 100%;
    min-width: 100%;
    margin-right: 40px;
}
.research__slider_item:last-child {
    margin-right: 0px;
}
.slider_controls {
    position: absolute;
    bottom: 40px;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
}
.points {
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.points span {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #E6AE5C;
    opacity: 0.4;
    cursor: pointer;
    transform: scale(1);
}
.points span.active,
.points span:hover {
    transform: scale(1.3);
}
.points span:first-child {
    opacity: 0.6;
}
.points span:last-child {
    opacity: 0.8;
}
.arrows {
    display: flex;
}
.arrows__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: scale(1);
    cursor: pointer;
}
.arrows__item:hover {
    transform: scale(1.1);
}
.arrows__item:last-child {
    margin-left: 8px;
}
.arrows__item i {
    display: flex;
    border: 2px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 1px;
}
.arrows__item.left i {
    border-top: 0;
    border-right: 0;
    transform: translateX(3px) rotate(45deg);
}
.arrows__item.right i {
    border-bottom: 0;
    border-left: 0;
    transform: translateX(-3px) rotate(45deg);
}
/* END:RESEARCH */

/* usefull */
.usefull {
    padding: 160px 0 120px 0;
}
.usefull img {
    height: 280px;
    width: 280px;
}
.usefull h2 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 42px;
}
.usefull__list {
    margin-top: 20px;
}
.usefull__list_item {
    position: relative;
    padding: 20px 32px;
    color: #333333;
    box-shadow: inset 0 -1px 0 0 #D9D9D9;
}
.usefull__list_item:after,
.usefull__list_item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    width: 8px;
    height: 8px;
    border: 2px solid #E62E00;
    cursor: pointer;
    border-radius: 1px;
}
.usefull__list_item::before {
    transform: translate( -50% , -50%) rotate(45deg);
    border-bottom: 0;
    border-left: 0;
}
.usefull__list_item:after {
    transform: translate( 50% , -50%) rotate(45deg);
    border-top: 0;
    border-right: 0;
}
/* END:usefull */

/* mode */
.mode {
    margin-bottom: 120px;
}
.mode .cards {
    margin-top: 20px;
} 
.mode .card {
    height: 320px;
    width: 380px;
    min-height: 320px;
    min-width: 350px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.plus .card {
    overflow: hidden;
}
.plus .card button,
.mode .card button {
    margin-top: 16px;
    opacity: 0;
}
.plus .card img {
    margin-bottom: 90px;
}
.mode .card img {
    margin-bottom: 70px;
}
.plus .card:hover img,
.mode .card:hover img {
    margin-bottom: 5px;
}
.plus .card:hover button,
.mode .card:hover button {
    opacity: 1;
}
/* END:mode */

/* career */
section h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 42px;
    margin-bottom: 20px;
}
.career {
    margin-bottom: 120px;
}
.percent,
.career img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.percents .col-lg-6 .career__text {
    display: none;
} 
.percents .percent-wrap:last-child .career__text {
    display: none;
}
.career__text .full-text {
    display: none;
}
.show-all {
    cursor: pointer;
    color: #E6AE5C;
}
.career__text .full-text {
    display: none;
}
.career__text.full .full-text {
    display: inline;
}
.career__text.full .more {
    display: none;
}
.career__text .more {
    display: inline;
}
.career__text .show-all span:first-child {
    display: inline;
}
.career__text .show-all span:last-child {
    display: none;
}
.career__text.full .show-all span:first-child {
    display: none;
}
.career__text.full .show-all span:last-child {
    display: inline;
}
.career__text.min p {
    font-size: 14px;
    margin-bottom: 0;
}
.per-20 {
    height: calc(20% + 10px);
    border-radius: 8px;
    background-color: #F2F2F2;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 36px;
}
.per-80 {
    border-radius: 8px;
    background-color: #E6AE5C;
    color: #fff;
    height: calc(80% - 10px);
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 36px;
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}
.percent-wrap {
    position: relative;
}
.percents {
    margin-bottom: 20px;
}
/* END:career */

/* rait */
.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    margin-bottom: 40px;
}
.rait {
    background-color: #000000;
    padding: 120px 0;
    color: #fff;
}
.rait .points {
    display: none;
}
.rait h2 {
    color: #fff;
    font-size: 32px;
}
.rait button {
    margin-top: 32px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #E6AE5C;
    color: #fff;
    border: 1px solid #E6AE5C;
}
.rait button:hover {
    background-color: transparent;
    color: #E6AE5C;
}
.rait__cards {
    display: flex;
}
.rait__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 480px;
    width: 380px;
    max-width: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    z-index: 3;
    color: #000000;
    /* cursor: pointer; */
}
.rait__card:nth-child(2) {
    background-color: #666666;
    z-index: 2;
    margin-left: -35%;
}
.rait__card:last-child {
    background-color: #333333;
    z-index: 1;
    margin-left: -35%;
}
.rait__card img {
    height: auto;
    width: 80px;
}
.rait__card h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}
.rait-list {
    margin-bottom: 0;
}
.rait-list li {
    padding: 5px 0;
    box-shadow: inset 0 -1px 0 0 #D9D9D9;
}
.rait-list li:last-child {
    box-shadow: none;
}
/* END:rait */

/* whowork */
.whowork {
    background-color: #000;
    padding-bottom: 120px;
}
.whowork__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.whowork__title {
    color: #999999;
    line-height: 16px;
}
.whowork__tabs {
    display: flex;
}
.whowork__tab {
    display: flex;
    align-items: center;
    line-height: 16px;
    margin-left: 10px;
    cursor: pointer;
    color: #999999;
}
.whowork__tab::before {
    content: "";
    position: relative;
    left: 0;
    margin-right: 6px;
    display: inline-block;
    width: 16px!important;
    height: 16px!important;
    background-color: #E6AE5C;
    border-radius: 50%;
}
.whowork__tab.active::before {
    content: "";
    background-color: #999999;
}
.whowork__input {
    width: 100%;
    height: 48px;
    border: 0;
    outline: 0!important;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 0 16px;
} 
.whowork svg {
    position: relative;
    height: 23px;
    top: -37px;
    right: calc(-100% + 40px);
    width: auto;
}
.whowork svg path {
    fill: #E6AE5C;
    flex-direction: column;
}
.whowork__works {
    display: flex;
    justify-content: space-between;
    height: 600px;
}
.work__col {
    position: relative;
}
.work__col-1 {
    width: 40%;
}
.work__col-2 {
    width: calc(25% - 10px);
}
.work__col-3 {
    width: 35%;
}
.work__block {
    width: 100%;
    border-radius: 8px;
    background-color: #BF8D43;
    margin-bottom: 5px;
    padding: 12px;
}
.work__block.black {
    background-color: #333333;
}
.work__block.black-light {
    background-color: #4D4D4D;
}
.work__block.grey {
    background-color: #666666;
}
.work__block.orange {
    background-color: #E6AE5C;
}
.work__block h6 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
}
.work__block span.price { 
    opacity: 0.6;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    line-height: 24px;
}
.work__show-more {
    height: calc(20% - 5px); 
    width: calc(50% - 2.5px);
    position: absolute; 
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #BF8D43;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}
/* END:whowork */

/* skills */
.skills {
    padding: 120px 0;
    overflow: hidden;
}
.skills__cards {
    flex-wrap: nowrap;
    position: relative;
}
.skills .img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    width: 100%;
    border-radius: 8px;
    background-color: #F2F2F2;
    margin-bottom: 20px;
}
.skills h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}
.skills p {
    max-width: 300px;
    min-width: 300px;
    opacity: 0.6;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
}
.skills .arrows__item {
    position: absolute;
    top: 145px;
    left: 0;
    margin: 0;
    background-color: #000;
    opacity: 1;
}
.skills .arrows__item i {
    border-color: #fff;
}
.skills .arrows__item.right {
    right: 0;
    left: auto;
}
.skills .arrows__item.hide {
    opacity: 0;
}
/* END:skills */
/* adaptive */
.adaptive {
    padding-bottom: 120px;
}
.adaptive__banner {
    position: relative;
    border-radius: 20px;
    background-color: #000000;
    padding: 40px;
    height: 300px;
    margin-bottom: 40px;
}
.adaptive__banner img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.adaptive h2 {
    color: #fff;
}
.adaptive p {
    color: #fff;
    max-width: 550px;
}
.adaptive button {
    margin-top: 32px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #E6AE5C;
    color: #fff;
    border: 1px solid #E6AE5C;
}
.adaptive button:hover {
    background-color: transparent;
    color: #E6AE5C;
}
.skills__card {
    height: 160px;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.skills__card p {
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
/* END:adaptive */

/* questions */
.questions {
    padding-bottom: 100px;
    cursor: pointer;
}
.question {
    padding: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}
.question__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question p {
    margin-bottom: 0;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    overflow: hidden;
    display: none;
}
.question.full p {
    display: block;
}
.question__plus {
    position: relative;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: #000000;
    cursor: pointer;
}
.question__plus::before,
.question__plus::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
}
.question__plus::after {
    height: 60%;
    width: 3px;
}
.question__plus.active {
    transform: rotate(45deg);
    background-color: #E6AE5C;
}
/* END:questions */

/* footer */
.footer {
    height: 120px;
    box-shadow: inset 0 1px 0 0 #E6E6E6;
}
.footer .row,
.footer .container {
    height: inherit;
}
.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__links a {
    color: #333333;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
}
.footer .contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer .contacts a {
    color: #333333;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}
.footer .social {
    height: 40px;
    width: 40px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}
.footer .social:hover {
    background-color: rgb(214, 214, 214);
}
.footer .social:hover svg path {
    fill: #E6AE5C;
}
.rait {
    padding-bottom: 60px;
}
.rait .points {
    margin: 0 auto;
    padding: 30px 0;
}
/* END:footer */
@media (max-width: 1200px) {
    .plus .card,
    .mode .card {
        min-width: 280px;
        margin-right: 30px;
        height: 400px;
    }
    .plus .cards,
    .mode .cards {
        overflow: auto;
    }
}

@media (max-width: 992px) {
    .right-menu nav {
        display: none;
    }
    .right-menu .nav .col-md-12 {
        display: flex;
        justify-content: flex-start;
    }
    .banner {
        background-image: url(../assets/banner-bg-m.jpg);
        background-position: bottom;
        min-height: calc(100vh - 80px);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #f8f8f8;
    }
    .header__btn {
        display: none;
    }
    .header .row {
        flex-direction: row-reverse;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-btn {
        margin: 0;
    }
    .research .img {
        background-image: url(../assets/Image_4.jpg);
        background-position: center;
        max-width: 100%;
    }
    .research__slider {
        right: 50%;
        transform: translateX(50%);
        max-width: calc(100% - 30px);
    }
    .skills__card {
        margin-bottom: 30px;
    }
    .skills__slider_item {
        margin-bottom: 30px;
    }
    .percents .percent-wrap:first-child {
        order: 2;
    }
    .percents .col-lg-6 {
        order: 1;
        margin-bottom: 20px;
    }
    .percents .col-lg-6 .career__text {
        display: block;
    } 
    .career .container .row:last-child {
        display: none;
    }
    .percents .percent-wrap:last-child {
        order: 3;
        height: fit-content;
    }
    .percents .percent-wrap:last-child .career__text {
        display: block;
    }
    .per-80 {
        position: initial;
        height: 320px;
        width: 100%;
        margin-bottom: 20px;
    }
    .per-20 {
        height: 80px
    }
    .rait__info {
        align-self: flex-start;
    }
    .rait button {
        margin-top: 15px;
    }
    .rait__cards {
        margin-top: 30px;
    }
    .usefull .col-lg-4 {
        background-image: url(../assets/pencil-m.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #f6f6f6;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .usefull .col-lg-4 img {
        opacity: 0;
        width: 100%;
    }
    .adaptive__banner {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .adaptive__banner img {
        position: relative;
        margin-bottom: 20px;
        top: -30px;
    }
    .adaptive h2 {
        font-size: 22px;
    }
    .adaptive .skills__cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .banner {
        padding-top: 50px;
    }
    .banner h1 {      
        font-size: 32px;   
        line-height: 40px;
    }
    .banner button {
        margin-top: 5px;
    }
    .skills__card p {
        line-height: 20px;
        font-size: 14px;
    }
    .rait__card {
        min-width: 100%;
    }
    .rait__card:nth-child(2) {
        margin-left: 0;
    }
    .rait__card:nth-child(3) {
        margin-left: 0;
    }
    .rait .points {
        display: flex;
        margin: 0 auto;
        padding: 30px 0;
    }
    .work__col-2,
    .work__col-1 {
        display: none;
    }
    .work__col {
        width: 100%;
    }
    .footer__links {
        flex-direction: column;
        padding: 30px 15px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer {
        height: 200px;
    }
    .footer .contacts a:first-child {
        position: absolute;
        left: 15px;
    }
    .rait__card {
        display: none;
    }
    .rait__card.active {
        display: flex;
    }
    .percent-wrap:first-child {
        padding-right: 5px;
    }
    .percent-wrap:last-child {
        padding-left: 5px;
    }
    .career__text.min p {
        font-size: 14px;
        line-height: 1.2;
    }
    .whowork__head {
        display: block;
    }
    .whowork__tabs {
        margin: 15px 0;
        display: flex;
        justify-content: flex-start;
    }
    .whowork__tab {
        margin-left: 0;
        margin-right: 20px;
    }
}
@media (max-width: 480px) {
    .usefull {
        padding-top: 350px;
    }
    .research__slider {
        bottom: -40%;
        padding: 20px;
    }
    .research .img {
        border-radius: 0;
    }
    .adaptive__banner img {
        width: 100%;
        height: auto;
    }
}