@import '../css/bootstrap.min.css';
@import '../css/jquery-ui.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
button {
    outline: none!important;
    background-color: transparent;
    border: 0;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    overflow-x: hidden;
}

/* HEADER */
.header {
    position: relative;
    top: 0;
    left: 0;
    padding: 25px 0;
}
.logo img {
    height: 30px;
    width: 124px;
}
.nav {
    justify-content: flex-end;
}
nav {
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.header__menu_item a {
    color: #000000;
    text-decoration: none;
}
.header__menu_item a:hover {
    color: #CC9A52;
}
.card__info button,
.header__btn {
    color: #CC9A52;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding: 10px 12.5px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.card__info button:hover,
.header__btn:hover {
    background-color: #CC9A52;
    color: #fff;
}
.menu-btn {
    height: 32px;
    width: 32px;
    margin-left: 20px;
    cursor: pointer;
}
/* END:HEADER */

.main {
    
}

/* BANNER */
.banner {
    height: auto;
    padding-top: 80px;
    min-height: calc(100vh - 160px);
    background-image: url(../assets/banner-bg.jpg);
    background-position: center;
    background-size: cover;
}
.banner h1 {
    margin-bottom: 24px;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 50px;
}
.banner button {
    margin-top: 32px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #E6AE5C;
    color: #fff;
    border: 1px solid #E6AE5C;
}
.banner button:hover {
    background-color: #fff;
    color: #E6AE5C;
}
/* END:BANNER */

/* PLUS */
.plus {
    padding: 80px 0 100px 0;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20.5px;
    height: 320px;
    width: calc(25% - 20px);
    max-width: 280px;
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
.card img {
    height: 80px;
    width: auto;
    min-height: 80px;
    margin-bottom: 88px;
}
.card h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}
.card p {
    color: #666666;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
/* END:PlUS */

/* RESEARCH */
.research {
    position: relative;
    height: 560px;
    min-height: 560px;
}
.research .container {
    position: relative;
    height: inherit;
}
.research img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1390px;
    border-radius: 8px;
}
.research__slider {
    position: absolute;
    display: flex;
    bottom: -40px;
    right: -40px;
    height: 321px;
    width: 581px;
    padding: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
}
.research__slider_item {
    position: relative;
    height: 100%;
    min-width: 100%;
    margin-right: 40px;
}
.research__slider_item:last-child {
    margin-right: 0px;
}
.slider_controls {
    position: absolute;
    bottom: 40px;
    transform: translateY(50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
}
.points {
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.points span {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #E6AE5C;
    opacity: 0.4;
    cursor: pointer;
    transform: scale(1);
}
.points span.active,
.points span:hover {
    transform: scale(1.3);
}
.points span:first-child {
    opacity: 0.6;
}
.points span:last-child {
    opacity: 0.8;
}
.arrows {
    display: flex;
}
.arrows__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: scale(1);
    cursor: pointer;
}
.arrows__item:hover {
    transform: scale(1.1);
}
.arrows__item:last-child {
    margin-left: 8px;
}
.arrows__item i {
    display: flex;
    border: 2px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 1px;
}
.arrows__item:first-child i {
    border-top: 0;
    border-right: 0;
    transform: translateX(3px) rotate(45deg);
}
.arrows__item:last-child i {
    border-bottom: 0;
    border-left: 0;
    transform: translateX(-3px) rotate(45deg);
}
/* END:RESEARCH */

/* usefull */
.usefull {
    padding: 160px 0 120px 0;
}
.usefull img {
    height: 280px;
    width: 280px;
}
.usefull h2 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 42px;
}
.usefull__list {
    margin-top: 20px;
}
.usefull__list_item {
    position: relative;
    padding: 20px 32px;
    color: #333333;
    box-shadow: inset 0 -1px 0 0 #D9D9D9;
}
.usefull__list_item:after,
.usefull__list_item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    width: 8px;
    height: 8px;
    border: 2px solid #E62E00;
    cursor: pointer;
    border-radius: 1px;
}
.usefull__list_item::before {
    transform: translate( -50% , -50%) rotate(45deg);
    border-bottom: 0;
    border-left: 0;
}
.usefull__list_item:after {
    transform: translate( 50% , -50%) rotate(45deg);
    border-top: 0;
    border-right: 0;
}
/* END:usefull */

/* mode */
.mode {
    margin-bottom: 120px;
}
.mode .cards {
    margin-top: 20px;
} 
.mode .card {
    height: 320px;
    width: 380px;
    min-height: 320px;
    min-width: 350px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.mode .card button {
    margin-top: 16px;
    opacity: 0;
}
.mode .card img {
    margin-bottom: 70px;
}
.mode .card:hover img {
    margin-bottom: 5px;
}
.mode .card:hover button {
    opacity: 1;
}
/* END:mode */

/* career */
section h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 42px;
    margin-bottom: 20px;
}
.career {
    margin-bottom: 120px;
}
.percent,
.career img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.career__text .hide {
    display: none;
}
.career__text p:first-child span {
    cursor: pointer;
    color: #E6AE5C;
}
.career__text.min p {
    font-size: 14px;
}
.per-20 {
    height: calc(20% + 10px);
    border-radius: 8px;
    background-color: #F2F2F2;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 36px;
}
.per-80 {
    border-radius: 8px;
    background-color: #E6AE5C;
    color: #fff;
    height: calc(80% - 10px);
    padding: 12px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 36px;
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
}
.percent-wrap {
    position: relative;
}
.percents {
    margin-bottom: 20px;
}
/* END:career */

@media (max-width: 1200px) {
    .cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        min-height: 320px;
        min-width: 280px;
    }
}

@media (max-width: 992px) {
    .right-menu nav {
        display: none;
    }
    .right-menu .nav .col-md-12 {
        display: flex;
        justify-content: flex-end;
    }
}